@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@800&family=Poppins:wght@400;700&display=swap");
.mini-container-product {
  width: 80px;
  height: 80px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.miniproduct-logo {
  width: 70px;
  height: 70px;
}

.mini-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.mini-title {
  font-family: "Inter", sans-serif;
  width: 170px;
  margin-top: 10px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.mini-sub-title {
  font-family: "Inter", sans-serif;
  color: #828282;
  font-size: 14px;
}

.mini-sub-title2 {
  font-family: "Inter", sans-serif;
  color: #828282;
  font-size: 14px;
  margin-top: 10px;
}

.title-sub-divider {
  width: 100px;
  margin-right: 12px;
}

.container-price {
  display: flex;
  margin-top: 20px;
  justify-content: start;
}

.container-price p {
  margin-left: 11px;
  margin-right: 160px;
}

@media only screen and (min-width: 1024px) {
  .title-sub-divider {
    width: 150px;
    margin-right: 12px;
  }

  .mini-container-product {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
}
